body {
  margin: 0;
  padding: 0;
  /* color: rgba(204, 131, 92, 0.95); */
  max-width: 100%;
  overflow-x: hidden;
  /* box-sizing: border-box; */
  font-family: "Rubik", sans-serif;
  line-height: 25px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.sub-headline {
  font-family: "Montserrat", sans-serif;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 80%;
}
.menu-wrapper {
  /* width: 100%; */
  height: 50px;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-wrap: wrap; */

  /* border: 2px solid green; */
}
#nav-list {
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  position: relative;
  margin-right: 40px;
  list-style: none;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 2ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: center;
}
#nav-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top 1.3s;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 10px;
  overflow: hidden;
  z-index: 2;
}

#nav-list,
.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
#nav-area.animate {
  top: -71px;
}

#nav-list {
  transform: scale(0);
  transition: transform 650ms;
}

/* ////// LOADER */

#loader {
  border: 0.15rem solid white;
  border-radius: 50%;
  animation: spin 5s linear infinite;
  padding: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  */

.sub-headline::first-letter {
  font-size: 200%;
  color: black;
}

/* hamburguer */

#hamburger {
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  margin: 20px 20px;
  line-height: 5rem;
  z-index: 1500;
  /* border: 2px solid yellow; */
}

#hamburger .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  display: block;
  right: 0;
  transition: all 400ms;
}
#hamburger .line:nth-child(1) {
  top: 0;
  width: 2rem;
}
#hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
  width: 2rem;
}
#hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 2rem;
}

#hamburguer,
.active .line:nth-child(1) {
  transform: rotate(35deg) translateY(0.97rem);
  width: 2rem;
}

#hamburguer,
.active .line:nth-child(2) {
  opacity: 0;
}
#hamburguer,
.active .line:nth-child(3) {
  transform: rotate(-35deg) translateY(-0.97rem);
  width: 2rem;
}

#nav-list.active,
.nav-link {
  transform: scale(1);
}
/* ///////////////////// */

@media screen and (min-width: 350px) and (max-width: 768px) {
  #nav-list {
    width: 100%;
    height: 100vh;
    /* margin-top: 40px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    /* top: 0; */
    left: 0;
    background-color: rgba(204, 131, 92, 0.95);

    bottom: -100vh;
    transition: bottom 650ms;
  }
  #nav-list.active {
    bottom: 0;
  }
  .hidden {
    opacity: 0;
  }
  .nav-item {
    margin-top: 30px;
  }

  #headline {
    width: 300px;
    /* height: 300px; */
  }

  .descriptionPetition,
  .descriptionImageboard,
  .descriptionSocial {
    width: 320px;
  }

  #about-heading {
    height: 400px;
    width: 350px !important;
    margin-left: 0 !important;
    position: relative;
    bottom: 50px;
    right: 65px;
    /* margin: 0 auto; */
    /* overflow-x: hidden; */
    /* max-width: 100% !important; */
    /* width: 300px; */
    /* margin-right: 800px; */
  }
  .aboutParagraph {
    /* border: 2px solid green; */
    width: 350px;
    /* margin-left: 50px; */
    /* height: 400px; */
    /* max-width: 100% !important; */
    /* overflow-x: hidden; */
  }

  .petitionImage,
  .imageImageboard,
  .imageSocialnetwork {
    max-height: 300px !important;
    max-width: 300px !important;
    object-position: center;
  }
  .banner-area {
    height: 60vh !important;
  }

  .icon-list {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }
}
/* //////// PARALAX     */

.hero {
  /* width: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* position: relative; */
  /* border: 2px solid yellow; */
  /* padding: 40px; */
  /* margin-top: 30%; */
}

.sub-headline {
  text-align: center;
}

.parallax {
  /* background-color: #cfb495; */
  /* background-color: #f6eedf; */
  background-color: rgba(204, 131, 92, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  /* padding: 50px; */
  /* margin-bottom: 00px; */
  object-fit: cover;
  z-index: -1;

  /* background-image: url("./images/background.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  background-color: black;
  width: 100%;

  height: 100vh;
  background-attachment: fixed; */
}

/* .overflow {
  height: 50vh;
} */

/* img {
  height: 50%;
} */

/* ///////ABOUT SECTION */

#about {
  /* border: 2px solid blue; */
  /* width: 100%; */
  /* margin-top: 40%; */
  text-align: center;
  justify-content: center;
  display: flex;
  /* flex-wrap: wrap; */
  /* border: 2px solid red; */
}
#about-heading {
  display: flex;
  /* flex-wrap: wrap; */
  width: 60%;
  /* height: 420px; */
  /* height: 350px; */
  flex-direction: column;
  padding: 25px;
  /* justify-content: center; */
  align-items: center;

  background-color: white;

  /* border: 2px solid black; */
  /* overflow-x: hidden; */
}

.aboutParagraph {
  max-width: 450px;
  text-align: justify;
  padding: 40px;

  line-height: 30px;

  /* font-size: 10px; */
  /* background-color: 1rem 1rem 2rem rgba(0, 0, 0, 0.3); */
}

.paralax2 {
  background-image: url("https://images.squarespace-cdn.com/content/v1/596255793a0411d39d841c0a/1503241608672-JRIEG9TJJ4LI5LTOJOSS/ke17ZwdGBToddI8pDm48kPTrHXgsMrSIMwe6YW3w1AZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0k5fwC0WRNFJBIXiBeNI5fKTrY37saURwPBw8fO2esROAxn-RKSrlQamlL27g22X2A/squarecoder_background.jpg?format=2500w");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: black;

  margin-bottom: 40px;
  width: 70%;

  height: 50vh;
  padding: 100px;
  background-attachment: fixed;
}

.paralax3 {
  /* background-image: url("https://miro.medium.com/max/9728/1*wf4tvYAGqK5FPw0tH2lT9g.jpeg"); */
  background-image: url("https://cdn.suwalls.com/wallpapers/3d/white-cubes-15427-1920x1200.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: black;

  margin-bottom: 40px;
  width: 100%;
  height: 35vh;
  padding: 100px;
  background-attachment: fixed;
  margin: 0;
}
/* ///// CARDS */

/* ////// PROJECTS    */

.project-title {
  text-align: center;
}

.projects {
  /* border: 3px solid black; */
  margin-top: 100px;
}

.firstContainer {
  /* border: 2px solid red; */
}

.project-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */

  /* padding: 30px; */

  /* background-color: #d1cebd; */
}
.project-inner-container {
  /* border: 2px solid green; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 40px;

  /* background-color: rgba(204, 131, 92, 0.95); */
  background-color: #fffdf9;
}

.project-inner-container2 {
  display: flex;

  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  padding: 40px;
  /* background-color: rgba(204, 131, 92, 0.95); */
  background-color: rgb(238, 226, 215);
  /* background: linear-gradient(0.25turn, #ffffff, #e5dfdf); */
  /* background: linear-gradient(to left, #333, #333 50%, #eee 75%); */

  /* #706c61 */
}

p {
  text-align: justify;
}

/* /////////////////////////////// */
.projectLinks {
  /* height: 90px; */
  height: 400px;
  width: 600px;

  padding: 0 25px;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
}
a {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.projectLinks:hover {
  opacity: 1;
}

.projectLinks:hover .btn-demo {
  animation-duration: 0.7s;
  animation-name: slide-up;
}

@keyframes slide-up {
  from {
    margin-top: 200%;
  }
}

.image {
  opacity: 0;
  object-position: center;
  /* object-fit: scale-down; */
  /* transform: translateY(50%); */

  transform: scale(1.1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* .petitionImage:hover {
  transform: scale(1.1);
  transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.9);
} */

/* /////////////  //////////// */

.petitionImage,
.imageImageboard,
.imageSocialnetwork {
  height: 400px;
  width: 600px;
  /* position: absolute; */
  /* z-index: -1; */

  /* padding: 20px; */
  /* background-color: black; */

  /* transform: scale(1); */
  /* object-fit: cover; */
}

/* .imageImageboard {
  height: 400px;
  width: 600px;
  object-fit: cover;
} */

.imageSocialnetwork {
  /* height: 550px; */

  /* width: 500px; */
  object-fit: cover;
  /* background-color: white; */
}

.projectLinksSocialNet {
}

.reveal {
  animation: scale-down 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scale-down {
  to {
    /* background-size: 100%; */
    /* transform: translateY(0%); */
    transform: scale(1);
    opacity: 1;
  }
}

.description {
  width: 400px;
  height: 500px;
  padding: 2px;
  margin: 40px;

  /* height: 400px; */
  /* padding: 100px; */
  /* background-color: white; */
  /* background-color: rgba(204, 131, 92, 0.95); */
  background-color: #ececeb;
  /* background-color: rgb(238, 226, 215); */

  /* position: relative; */
  /* right: 200px; */
  /* border: 2px solid hotpink; */
}

.descriptionPetition,
.descriptionImageboard,
.descriptionSocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 400px; */
  height: 420px;
  padding: 40px;
  background-color: white;
  /* border: 2px solid black; */
}

.title {
  color: rgba(204, 131, 92, 0.95);
}
/* lkhj;ojijiojo */

/* //////////////////HEADLINE SLIDEEEE////// */
.sub-headline {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* /////////   SKKKIILLLLSSSSSSS */

.skills {
  height: 700px;
  width: 100%;
  /* border: 2px solid grey; */

  text-align: center;
}

.skills-inner-container {
  display: flex;
  height: 700px;

  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* border: 2px solid hotpink; */
}

.vl {
  margin-top: 40px;
  margin-right: 100px;
  border-left: 1px solid black;
  height: 390px;
  position: relative;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.skillLine {
  width: 23.5%;
}
.SkillsHeader {
  margin-bottom: 40px;
}

.align-left {
  /* border: 2px solid yellow; */
  /* background-color: #d1cebd; */
  width: 35%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
}

.skillContainer {
  display: flex;
  /* flex-direction: column; */

  /* justify-content: center; */
  width: 100%;
  /* border: 2px solid red; */
}

.align-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.align-left.slide-in {
  transform: translateX(-50%);
}

.align-right.slide-in {
  transform: translateX(50%);
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
}

.slide-in.show {
  transform: translateX(0%);
  opacity: 1;
}

.p {
  font-weight: bold;
}

/* ////////////////////// CONTACT SECTION//////////////////// */

.banner-area {
  width: 100%;
  height: 40vh;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-list {
  width: 60%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;
}

.icon-item {
  list-style: none;
}
.icon-link {
  cursor: pointer;
  display: flex;
  font-size: 30px;
  text-decoration: none;
  color: #b6bbc5;
  height: 60px;
  width: 60px;
  /* background-color: blue; */
  border-radius: 50%;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
    -1rem -1rem 2rem rgba(255, 255, 255, 0.5);
}
.icon-link i {
  margin: auto;
}
.icon-link:hover {
  box-shadow: inset 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
    inset -1rem -1rem 2rem rgba(255, 255, 255, 0.5);
}

/* //////   responsive mobile */

/* @media screen and (max-width: 414px) {
  body {
    overflow-x: hidden;
  }
  .paralax {
    width: 100%;
  }
} */

/* .arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
} */

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  /* border: 2px solid black; */
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 720px solid transparent;
  border-right: 720px solid transparent;

  border-top: 90px solid #f1f3f4;
}

/* .arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
} */

/* .arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid blue;
} */

/* ////////////////////////////////////// */
/* .slideshow-block {
  position: relative;
  width: 200px;
  height: 150px;
  overflow: hidden;
  background: #111 url("img/bg.jpg");
}
a.link {
  position: absolute;
  height: 150px;
  width: 200px;
  display: block;
  z-index: 10;
  background: url("img/logo.png") no-repeat center top;
}
a.link:hover {
  background-position: center -150px;
}
.slides {
  z-index: 0;
  visibility: hidden;
}
.slides.active {
  visibility: visible;
}

img,
figure {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 70px; */

.team__img {
  height: 900px;
}
figure {
  margin: 0;
}

/* .grid-xlarge {
  margin: auto;
} */

.absolute-bg {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;

  height: 20%;
  width: 20%;

  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  opacity: 0;
}

.absolute-bg.show {
  opacity: 1;
}

.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 3em;
  width: 3em;
  margin: auto;

  border: 2px solid transparent;
  border-top-color: $color-alpha;
  border-radius: 50%;
  opacity: 1;
  animation: spin 1s linear infinite both;
  transition: opacity 2s 0.2s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
