body {
  margin: 0;
  padding: 0;
  /* color: rgba(204, 131, 92, 0.95); */
  max-width: 100%;
  overflow-x: hidden;
  /* box-sizing: border-box; */
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 2px;
  width: 80%;
}
.menu-wrapper {
  /* width: 100%; */
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
nav {
  display: flex;

  /* border: 2px solid green; */
}
#nav-list {
  /* border: 2px solid black; */
  display: flex;
}
.nav-item {
  position: relative;
  margin-right: 40px;
  list-style: none;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: silver;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 2ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: center;
}
#nav-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top 1.3s;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 10px;
  overflow: hidden;
  z-index: 2;
}

.logo,
#nav-list,
.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
#nav-area.animate {
  top: -71px;
}

#nav-list {
  transform: scale(0);
  transition: transform 650ms;
}

/* ////// */

.main-text {
  width: 100%;
  height: 400px;
  font-size: 18px;

  text-align: center;
  color: white;
  background-color: black;
}

.sub-headline::first-letter {
  font-size: 200%;
  color: black;
}

/* hamburguer */

#hamburger {
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  margin: 20px 20px;
  line-height: 5rem;
  z-index: 1500;
  /* border: 2px solid yellow; */
}

#hamburger .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  display: block;
  right: 0;
  transition: all 400ms;
}
#hamburger .line:nth-child(1) {
  top: 0;
  width: 2rem;
}
#hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
  width: 2rem;
}
#hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 2rem;
}

#hamburguer,
.active .line:nth-child(1) {
  transform: rotate(35deg) translateY(0.97rem);
  width: 2rem;
}

#hamburguer,
.active .line:nth-child(2) {
  opacity: 0;
}
#hamburguer,
.active .line:nth-child(3) {
  transform: rotate(-35deg) translateY(-0.97rem);
  width: 2rem;
}

#nav-list.active,
.nav-link {
  transform: scale(1);
}

/* //////// PARALAX     */

.hero {
  /* width: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* position: relative; */
  /* border: 2px solid yellow; */
  /* padding: 40px; */
  /* margin-top: 30%; */
}

.sub-headline {
  text-align: center;
}

.parallax {
  /* background-color: #cfb495; */
  /* background-color: #f6eedf; */
  background-color: rgba(204, 131, 92, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  /* padding: 50px; */
  /* margin-bottom: 00px; */
  object-fit: cover;
  z-index: -1;

  /* background-image: url("./images/background.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  background-color: black;
  width: 100%;

  height: 100vh;
  background-attachment: fixed; */
}

/* .overflow {
  height: 50vh;
} */

/* img {
  height: 50%;
} */

.hidden {
  display: none;
}

/* ///////ABOUT SECTION */

.about {
  /* border: 2px solid blue; */
  width: 100%;
  /* margin-top: 40%; */
  text-align: center;
  justify-content: center;
  display: flex;
}
.about-heading {
  display: flex;
  width: 100%;
  height: 350px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  background-color: white;

  /* border: 2px solid black; */
}

.aboutParagraph {
  width: 500px;
  text-align: justify;
  padding: 20px;

  line-height: 30px;

  font-size: 20px;
  /* background-color: 1rem 1rem 2rem rgba(0, 0, 0, 0.3); */
}

.paralax2 {
  background-image: url("https://previews.123rf.com/images/phonlamaiphoto/phonlamaiphoto1805/phonlamaiphoto180500114/101021144-binary-code-background-in-white-and-grey-illustration-.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: black;

  margin-bottom: 40px;

  height: 45vh;
  padding: 100px;
  background-attachment: fixed;
}

.paralax3 {
  background-image: url("https://miro.medium.com/max/9728/1*wf4tvYAGqK5FPw0tH2lT9g.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: black;

  margin-bottom: 40px;
  width: 100%;
  height: 30vh;
  padding: 100px;
  background-attachment: fixed;
}
/* ///// CARDS */

/* ////// PROJECTS    */

.project-title {
  text-align: center;
}

.projects {
  /* border: 3px solid black; */
  margin-top: 100px;
}

.firstContainer {
  /* border: 2px solid red; */
}

.project-container {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */

  /* padding: 30px; */

  /* background-color: #d1cebd; */
}
.project-inner-container {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;

  /* background-color: rgba(204, 131, 92, 0.95); */
  background-color: #fffdf9;
}

.project-inner-container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  /* background-color: rgba(204, 131, 92, 0.95); */
  background-color: rgb(238, 226, 215);
}

p {
  text-align: justify;
}

.image {
  opacity: 0;
  /* padding: 15px; */
}

.petitionImage,
.petition {
  height: 400px;
  width: 600px;
  /* position: absolute; */
  /* z-index: -1; */

  /* padding: 20px; */
  background-color: black;

  /* transform: scale(1); */
  /* object-fit: cover; */
}

.imageImageboard {
  height: 400px;
  width: 600px;
  object-fit: cover;
}

.imageSocialnetwork,
.socialnetwork {
  height: 550px;
  width: 500px;
  object-fit: cover;
  /* background-color: white; */
}

.reveal {
  animation: scale-down 2s;
  animation-fill-mode: forwards;
}

@keyframes scale-down {
  to {
    /* background-size: 100%; */
    /* transform: scaleY(1); */
    opacity: 1;
  }
}

.description {
  width: 400px;
  height: 500px;
  padding: 2px;

  /* height: 400px; */
  /* padding: 100px; */
  /* background-color: white; */
  /* background-color: rgba(204, 131, 92, 0.95); */
  background-color: #ececeb;
  /* background-color: rgb(238, 226, 215); */

  /* position: relative; */
  /* right: 200px; */
  /* border: 2px solid hotpink; */
}

.descriptionPetition,
.descriptionImageboard,
.descriptionSocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 400px; */
  height: 420px;
  padding: 40px;
  background-color: white;
  /* border: 2px solid black; */
}

.title {
  color: rgba(204, 131, 92, 0.95);
}
/* lkhj;ojijiojo */

.face {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #ffcd00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face::before {
  content: "";
  position: absolute;
  top: 200px;
  width: 150px;
  height: 70px;
  background-color: #b57700;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.face:hover::before {
  top: 210px;
  width: 150px;
  height: 20px;
  background: #b57700;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.eyes {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  text-align: center;
}
.eye {
  position: relative;
  bottom: 10%;
  width: 80px;
  height: 80px;

  background-color: white;
  margin: 40px;
  border-radius: 50%;
  overflow-x: hidden;
}

.ball {
  width: 40px;
  height: 40px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* //////////////////HEADLINE SLIDEEEE////// */
.sub-headline {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.description {
  opacity: 0;
}
/* ////////////////////// CONTACT SECTION//////////////////// */

.banner-area {
  width: 100%;
  height: 40vh;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-list {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;
}

.icon-item {
  list-style: none;
}
.icon-link {
  display: flex;
  font-size: 30px;
  text-decoration: none;
  color: #b6bbc5;
  height: 60px;
  width: 60px;
  /* background-color: blue; */
  border-radius: 50%;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
    -1rem -1rem 2rem rgba(255, 255, 255, 0.5);
}
.icon-link i {
  margin: auto;
}
.icon-link:hover {
  box-shadow: inset 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
    inset -1rem -1rem 2rem rgba(255, 255, 255, 0.5);
}
