body {
  margin: 0;
  padding: 0;
  /* color: rgba(204, 131, 92, 0.95); */
  max-width: 100%;
  overflow-x: hidden;
  /* box-sizing: border-box; */
  font-family: "Rubik", sans-serif;
  line-height: 25px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.sub-headline {
  font-family: "Montserrat", sans-serif;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 80%;
}
.menu-wrapper {
  /* width: 100%; */
  height: 50px;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-wrap: wrap; */

  /* border: 2px solid green; */
}
#nav-list {
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  position: relative;
  margin-right: 40px;
  list-style: none;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 2ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: center;
}
#nav-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top 1.3s;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 10px;
  overflow: hidden;
  z-index: 2;
}

#nav-list,
.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
#nav-area.animate {
  top: -71px;
}

#nav-list {
  transform: scale(0);
  transition: transform 650ms;
}

/* ////// LOADER */

#loader {
  border: 0.15rem solid white;
  border-radius: 50%;
  animation: spin 5s linear infinite;
  padding: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ///////// sub -headline slide////// */

.sub-headline::first-letter {
  font-size: 200%;
  color: black;
}

.sub-headline {
  text-align: center;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*///////////// hamburguer /////////////*/

#hamburger {
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  margin: 20px 20px;
  line-height: 5rem;
  z-index: 1500;
}

#hamburger .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  display: block;
  right: 0;
  transition: all 400ms;
}
#hamburger .line:nth-child(1) {
  top: 0;
  width: 2rem;
}
#hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -1px;
  width: 2rem;
}
#hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 2rem;
}

#hamburguer,
.active .line:nth-child(1) {
  transform: rotate(35deg) translateY(0.97rem);
  width: 2rem;
}

#hamburguer,
.active .line:nth-child(2) {
  opacity: 0;
}
#hamburguer,
.active .line:nth-child(3) {
  transform: rotate(-35deg) translateY(-0.97rem);
  width: 2rem;
}

#nav-list.active,
.nav-link {
  transform: scale(1);
}

/* //////// PARALAX  //////////   */

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.parallax {
  background-color: rgba(204, 131, 92, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
  z-index: -1;
}

/* ///////ABOUT SECTION */

#about {
  text-align: center;
  justify-content: center;
  display: flex;
}
#about-heading {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  background-color: white;
}

.aboutParagraph {
  max-width: 450px;
  text-align: justify;
  padding: 40px;
  line-height: 30px;
}

.paralax2 {
  background-image: url("./images/blocks1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  height: 50vh;
  padding: 100px;
  background-attachment: fixed;
}

.paralax3 {
  background-image: url("./images/blocks2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  margin-bottom: 40px;
  width: 100%;
  height: 35vh;
  padding: 100px;
  background-attachment: fixed;
  margin: 0;
}

/* ////// PROJECTS    */

.project-title {
  text-align: center;
}

.projects {
  margin-top: 100px;
}

.project-container {
  display: flex;
  flex-direction: column;
}
.project-inner-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.project-inner-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: rgb(238, 226, 215);
}

p {
  text-align: justify;
}

/* /////////////////////////////// */
.projectLinks {
  height: 400px;
  width: 600px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
}
a {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.projectLinks:hover {
  opacity: 1;
}

.projectLinks:hover .btn-demo {
  animation-duration: 0.7s;
  animation-name: slide-up;
}

@keyframes slide-up {
  from {
    margin-top: 200%;
  }
}

.petitionImage,
.imageImageboard,
.imageSocialnetwork {
  height: 400px;
  width: 600px;
}

.imageSocialnetwork {
  object-fit: cover;
}

.image {
  opacity: 0;
  object-position: center;
  /* transform: translateY(50%); */
  transform: scale(1.1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.reveal {
  animation: scale-down 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scale-down {
  to {
    /* transform: translateY(0%); */
    transform: scale(1);
    opacity: 1;
  }
}

.description {
  width: 400px;
  height: 500px;
  padding: 2px;
  margin: 40px;
  background-color: #ececeb;
}

.descriptionPetition,
.descriptionImageboard,
.descriptionSocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
  padding: 40px;
  background-color: white;
}

.title {
  color: rgba(204, 131, 92, 0.95);
}

/* /////////   SKKKIILLLLSSSSSSS  section */

.skills {
  height: 700px;
  width: 100%;
  text-align: center;
}

.skills-inner-container {
  display: flex;
  height: 700px;
  justify-content: center;
  flex-direction: column;
}

.vl {
  margin-top: 40px;
  margin-right: 100px;
  border-left: 1px solid black;
  height: 390px;
  position: relative;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.skillLine {
  width: 23.5%;
}
.SkillsHeader {
  margin-bottom: 40px;
}

.align-left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.skillContainer {
  display: flex;
  width: 100%;
}

.align-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.align-left.slide-in {
  transform: translateX(-50%);
}

.align-right.slide-in {
  transform: translateX(50%);
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
}

.slide-in.show {
  transform: translateX(0%);
  opacity: 1;
}

/* ////////////////////// CONTACT SECTION//////////////////// */

.banner-area {
  width: 100%;
  height: 40vh;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-list {
  width: 60%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-around;
}

.icon-item {
  list-style: none;
}
.icon-link {
  cursor: pointer;
  display: flex;
  font-size: 30px;
  text-decoration: none;
  color: #b6bbc5;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
    -1rem -1rem 2rem rgba(255, 255, 255, 0.5);
}
.icon-link i {
  margin: auto;
}
.icon-link:hover {
  box-shadow: inset 1rem 1rem 2rem rgba(0, 0, 0, 0.1),
    inset -1rem -1rem 2rem rgba(255, 255, 255, 0.5);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 720px solid transparent;
  border-right: 720px solid transparent;
  border-top: 90px solid #f1f3f4;
}

@media screen and (min-width: 350px) and (max-width: 768px) {
  #nav-list {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    background-color: rgba(204, 131, 92, 0.95);
    bottom: -100vh;
    transition: bottom 650ms;
  }
  #nav-list.active {
    bottom: 0;
  }
  .hidden {
    opacity: 0;
  }
  .nav-item {
    margin-top: 30px;
  }

  #headline {
    width: 300px;
  }

  .descriptionPetition,
  .descriptionImageboard,
  .descriptionSocial {
    width: 320px;
  }

  #about-heading {
    height: 400px;
    width: 350px !important;
    margin-left: 0 !important;
    position: relative;
    bottom: 50px;
    top: 20px;
    right: 70px;
  }
  .aboutParagraph {
    width: 350px;
  }
  .paralax2 {
    height: 70vh !important;
  }

  .petitionImage,
  .imageImageboard,
  .imageSocialnetwork {
    max-height: 300px !important;
    max-width: 400px !important;
    object-position: center;
  }

  .align-left {
    font-size: 10px;
    /* width: 100%; */
    position: relative;
    font-weight: bold;
  }

  .align-right {
    /* width: 100%; */
    font-size: 10px;
    margin-right: 30px;
  }
  .vl {
    height: 280px;
  }
  .pF {
    padding-top: 30px;
  }

  .pD,
  .pL {
    padding-top: 20px;
  }
  .banner-area {
    height: 60vh !important;
  }

  .icon-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .pF {
    padding-top: 10px;
  }

  .pD,
  .pL {
    padding-top: 20px;
  }
}

@media screen and (min-width: 955px) {
  .pF,
  .pD,
  .pL {
    padding-top: 0;
  }
}
